.nav-item {
    font-family: fantasy;
}

body {
    background-color: #b5b324;
}

#logo {
    width: 126px;
    height: 49px;
}

#test {
    margin-left: 5vw;
    margin-right: 5vw;
}

iframe {
    margin-left: 13vw;
    width: 64vw;
    height: 80vh;
}