body {
    background-color: #f5e837;
}

#gdfile-container {
    margin-top: 10vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    min-width: 100vw;
    min-height: 35vw;
}

.anchorme-link {
    width: 100%;
}

.teacher {
    color: blue;
}

h1 {
    font-size: 180%;
}

.gdfile-text {
    width: 90vw;
    min-height: 50vh;
    overflow: auto;
}

@media only screen and (max-width: 500px) {
    .gdfile {
        height: 30vw;
    }
}